/*Header section*/
* {
    /*padding: 0.5rem;*/
    box-sizing: border-box;
}

.main-header {
    font-family: 'Roboto', sans-serif;
    color: gray;

}

.principal-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-header .principal-nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    justify-content: space-around;
    flex-basis: 100%;


}

.main-header ul a {
    text-decoration: none;
    color: gray;
    font-style: normal;

}

.contact-button {
    background-color: #73E66E;
    border: none;
    color: white;
    padding: 0.8rem 2rem;
}

.social-media li a, .main-links li button {
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    vertical-align: middle;
    outline: none;

}

.find {
    background-image: url(../img/lupa.png);
}

.cart {
    background-image: url(../img/images.png);
}

/*Social media logos*/
.face {
    background-image: url(../img/facebook.png);
}

.instagram {
    background-image: url(../img/insta.png);
}

.twitter {
    background-image: url(../img/twitte.png);
}

.internet {
    background-image: url(../img/inter.png);
}